* {
  background-color: ivory;
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}

.header {
  background-color: #e5b940;
  /* border-style:solid;  */
  /* border-color:saddlebrown; */
  /* border-radius: 10px; */
  /* display:flex; */
  /* justify-content: center; */
}

.linea {
  height: 2px;
  background-color: #111010;
}

.clasemenu {
  display: inline-flexbox;
}

.navMenu {
  list-style: none;
  display: inline-flex;
  padding: 10px 90px 10px;
  font-size: 20px;
}

.contenedorgrid {
  display: grid;
  background-color: #e6dd90;
  border: solid 5px #0d0338;
  grid-template-columns: 33% 33% 33%;
  box-sizing: border-box;
}

.contenedorsomos {
  display: grid;
  grid-template-columns: 49% 49%;
  justify-items: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #e6dd90;
  border: solid 5px #0d0338;
  -webkit-mask-box-image-width: 3px;
          mask-border-width: 3px;
}